.content { background-color: darkslategrey;}
body{background-color: grey;}
h1{text-align: center;background-color: darkslategrey;font-family: 'Courier New', Courier, monospace;color: white;}
div{text-align: center;color: white;}